*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color:white;
    font-family: sans-serif;
}

:root{
    --gradient-color: linear-gradient(90deg, #14054E, #53146A, #AB257B, #Fe6F8E);
    --gradient-color2: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    --background-size: 100% 100%;
}

body{
    background:#121212;
}

.container {
    width:100vw;
    height:100vh;

 
}

.table {
    margin:50px;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
 
}

.card {
    width: 300px;
    height:400px;
    position:relative;
    cursor: pointer;
}

.front{
    width:100%;
    height:100%;
    background:#121212;
    padding: 15px 25px;
    text-align: center;
    transition:0.8s ease-in-out;;
    position:relative;  
    z-index:1;
 
}
.front:before {
    position:absolute;
    top:0;
    left:0;
    content:''; 
    width:100%;
    height:100%;
    background:#121212;
    z-index:-1;

}
.front:after {
    content:'';
    position: absolute;
    top:-3px;
    left:-3px;
    width:calc(100% + 6px);
    height: calc(100% + 6px);
    background: var(--gradient-color2);
    background-size: var(--background-size);
    z-index:-2;

}

.front i {
    font-size:100px;
    line-height: 200px;
    background:var(--gradient-color2);
    -webkit-background-clip: text;
    color:transparent;

}

.front h3{
    font-size: 50px;
    line-height: 100px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    background:var(--gradient-color2);
    -webkit-background-clip: text;
    color:transparent;
}
.back {
    width: 100%;
    height: 100%;
    background:#121212;
    position: absolute;
    top:0;
    left:0;
    text-align: center;
    transform: perspective(600px) rotateY(180deg) ;
    transition: 0.8s ease-in-out;
    opacity:0;
    z-index:-2;
   
}

.back:before {
    position:absolute;
    top:0;
    left:0;
    content:''; 
    width:100%;
    height:100%;
    background:#121212;
    z-index:-1;

}
.back:after {
    content:'';
    position: absolute;
    top:-3px;
    left:-3px;
    width:calc(100% + 6px);
    height: calc(100% + 6px);
    background: var(--gradient-color2);
    background-size: var(--background-size);
    z-index:-2;

}
.card:hover > .front {
    transform: perspective(600px) rotateY(-180deg);
    opacity:0;
  

}

.card:hover > .back {
    transform: perspective(600px) rotateY(0deg);
    opacity:1;
   
   
}

.back i{
    font-size: 50px;
    line-height:100px;
    color:var(--gradient-color2);
}

.back h3{
    font-size: 2rem;
    text-transform: uppercase;
    line-height:4rem;
}

.back p {
    line-height:1.5rem;
}

.cta {
    letter-spacing: 0.2rem;
    position: absolute;
    bottom:50px;
    left:50%;
    transform: translateX(-50%);
    border: 2px solid black;

    transition: 0.5s;
    padding: 10px 15px;
    border-radius: 10px;
    background:var(--gradient-color2)
}

